@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6fb;
  --foreground: #111827;

  --font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f4f6fb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}
